workflows/Extrair Referências de Facturas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-28T19:12:04.411Z",
  "id": "QtzPayM6X6meC6r1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Extrair Referências de Facturas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "info.desporto@cm-alcochete.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "668808bb-0a1e-4ab4-877e-bacbc4a49703",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IZ5cS1EUXpPOEEPu",
          "name": "Gmail Pessoal"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/{{$binary.attachment_0.fileName || 'input.pdf'}}",
        "dataPropertyName": "=attachment_0",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "6d14d7ea-b6ff-43da-92a8-8c33288dc0d8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p /home/node/.n8n-files/pdfout && pdftocairo -jpeg -r 200 \"{{$json.fileName}}\" \"/home/node/.n8n-files/pdfout/page\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "99e0fde9-f19a-4fec-a586-f055687ca58e",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/cropout/*-bottom.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        224
      ],
      "id": "33d66729-1142-4a56-9d6c-11c8b98f8079",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "mkdir -p /home/node/.n8n-files/cropout && for f in /home/node/.n8n-files/pdfout/page-*.jpg; do base=\"$(basename \"$f\" .jpg)\"; magick \"$f\" -gravity south -crop 100%x25%+0+0 +repage -strip -quality 90 \"/home/node/.n8n-files/cropout/${base}-bottom.jpg\"; done"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "05acd8a9-af4c-493a-b063-b57d2fc634f2",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "gemma4:e2b",
          "mode": "list",
          "cachedResultName": "gemma4:e2b"
        },
        "text": "You are extracting Multibanco payment data from a Portuguese invoice image.\nLook ONLY at the section titled “PAGAMENTO POR MULTIBANCO” (or similar).\nFind the labels:\n- “ENTIDADE:” (numeric code after it)\n- “REFERÊNCIA:” (numeric code after it, usually like “123 456 789”)\n- “MONTANTE:” (amount to be paid)\nIgnore all other numbers (NIF, ATCUD, invoice number, IBAN, totals outside the Multibanco box).\nReturn ONLY valid JSON exactly in this schema:\n{\"entidade\": string|null, \"referencia\": string|null, \"montante\": string|null}\nRules:\n- entidade must contain only digits (no spaces).\n- referencia must keep the spaces between 3-digit blocks if present.\n- montante must keep the currency format exactly as shown (e.g., \"45,32 €\" or \"45.32 EUR\").\n- If you cannot find a field, return null for that field.\n- Do not include any extra text.",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1440,
        224
      ],
      "id": "e1b74c22-dca5-40f2-b66e-da0c0a07d6a4",
      "name": "Analyze image",
      "credentials": {
        "ollamaApi": {
          "id": "9HRTB63WDG4doFlk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "geral@alcocheteup.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7158c115-7f64-4298-98d9-d795152f7465",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "IZ5cS1EUXpPOEEPu",
          "name": "Gmail Pessoal"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:18789/hooks/agent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"n8n\",\n  \"message\": \"Jarvis, avise a Ramon que chegou um email com uma factura para ele pagar. Pergunte se ele quer ser lembrado de pagar em um outro momento. Detalhes da fatura:\\nEntidade: {{$json.invoice.entidade}}\\nReferência: {{$json.invoice.referencia}}\\nMontante: {{$json.invoice.montante}}\",\n  \"deliver\": true,\n  \"channel\": \"whatsapp\",\n  \"to\": \"+351926565596\",\n  \"wakeMode\": \"now\",\n  \"timeoutSeconds\": 120\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        208
      ],
      "id": "f5d6156c-1418-4f01-91c3-e59d0006e524",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a50c703c-414e-465d-a357-b790989633b4",
              "name": "invoice",
              "value": "={{ JSON.parse($json.content) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        224
      ],
      "id": "ceac3b23-7287-4f4a-8c9c-caf2ff373873",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        224
      ],
      "id": "21078f19-675c-496d-ad3e-2a7107bdd1c5",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-28T19:12:04.411Z",
      "createdAt": "2026-03-28T19:12:04.411Z",
      "role": "workflow:owner",
      "workflowId": "QtzPayM6X6meC6r1",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-14T09:42:00.753Z",
  "versionId": "a1a021b5-c162-41fe-868a-ca61a76f5b85"
}