workflows/Extrair Referências de Facturas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-22T21:53:59.990Z",
  "id": "GHM7WDcdSyJ6xEY5",
  "isArchived": false,
  "meta": null,
  "name": "Extrair Referências de Facturas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "info.desporto@cm-alcochete.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "6d60374e-0dc3-4f51-bf92-a9657bcd1d2d",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/{{$binary.attachment_0.fileName || 'input.pdf'}}",
        "dataPropertyName": "=attachment_0",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "128a1e87-5d43-40be-9189-c5815ef2bae9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p /home/node/.n8n-files/pdfout && pdftocairo -jpeg -r 200 \"{{$json.fileName}}\" \"/home/node/.n8n-files/pdfout/page\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        816,
        224
      ],
      "id": "c2645bb3-aabd-42a6-8025-3586bba36058",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/cropout/*-bottom.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        224
      ],
      "id": "5c567e88-5c82-46c8-a83f-4b7616aeeb18",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "command": "mkdir -p /home/node/.n8n-files/cropout && for f in /home/node/.n8n-files/pdfout/page-*.jpg; do base=\"$(basename \"$f\" .jpg)\"; magick \"$f\" -gravity south -crop 100%x25%+0+0 +repage -strip -quality 90 \"/home/node/.n8n-files/cropout/${base}-bottom.jpg\"; done"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "721b3b63-5ebd-48c6-a457-a725186d9adf",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "qwen3-vl:8b",
          "mode": "list",
          "cachedResultName": "qwen3-vl:8b"
        },
        "text": "You are extracting Multibanco payment data from a Portuguese invoice image.\nLook ONLY at the section titled “PAGAMENTO POR MULTIBANCO” (or similar).\nFind the labels:\n- “ENTIDADE:” (numeric code after it)\n- “REFERÊNCIA:” (numeric code after it, usually like “123 456 789”)\n- “MONTANTE:” (amount to be paid)\nIgnore all other numbers (NIF, ATCUD, invoice number, IBAN, totals outside the Multibanco box).\nReturn ONLY valid JSON exactly in this schema:\n{\"entidade\": string|null, \"referencia\": string|null, \"montante\": string|null}\nRules:\n- entidade must contain only digits (no spaces).\n- referencia must keep the spaces between 3-digit blocks if present.\n- montante must keep the currency format exactly as shown (e.g., \"45,32 €\" or \"45.32 EUR\").\n- If you cannot find a field, return null for that field.\n- Do not include any extra text.",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1440,
        224
      ],
      "id": "57b187d5-366d-4499-87f7-206a3124cfd5",
      "name": "Analyze image"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "geral@alcocheteup.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "05405430-b2e1-4dda-a5b3-5648cff80259",
      "name": "Gmail Trigger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:18789/hooks/agent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"n8n\",\n  \"message\": \"Jarvis, avise a Ramon que chegou um email com uma factura para ele pagar. Pergunte se ele quer ser lembrado de pagar em um outro momento. Detalhes da fatura:\\nEntidade: {{$json.invoice.entidade}}\\nReferência: {{$json.invoice.referencia}}\\nMontante: {{$json.invoice.montante}}\",\n  \"deliver\": true,\n  \"channel\": \"whatsapp\",\n  \"to\": \"+351926565596\",\n  \"wakeMode\": \"now\",\n  \"timeoutSeconds\": 120\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        208
      ],
      "id": "04999cc2-b835-4ef0-9a11-1ec41d86c676",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a50c703c-414e-465d-a357-b790989633b4",
              "name": "invoice",
              "value": "={{ JSON.parse($json.content) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        224
      ],
      "id": "f8ace4a2-2b19-4dc7-be78-05ec8a22bc9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        224
      ],
      "id": "c6035d86-98d8-45c4-abbb-2eee0f26bb3e",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-22T21:53:59.990Z",
      "createdAt": "2026-03-22T21:53:59.990Z",
      "role": "workflow:owner",
      "workflowId": "GHM7WDcdSyJ6xEY5",
      "projectId": "1AjsEedso5AIlN6L"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-23T13:37:36.459Z",
  "versionId": "692bc9bc-3e81-4358-a4de-963c559d8aa3"
}