workflows/Extrair Referências de Facturas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "PDF to Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Images": {
      "main": [
        [
          {
            "node": "Split Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pages": {
      "main": [
        [
          {
            "node": "Set Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image URL": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Notify Hermes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-28T19:12:04.411Z",
  "id": "QtzPayM6X6meC6r1",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Extrair Referências de Facturas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "geral@alcocheteup.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "6db120a7-91fe-4c76-a731-16a3c37e185b",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "c1WKHJm3FAubKV8P",
          "name": "Gmail Empresas"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMonth",
              "dayOfMonth": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d",
          "sender": "info.desporto@cm-alcochete.pt"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "5a0082e3-7e28-48fe-bc76-d7c7a17aeb17",
      "name": "Gmail Trigger 1",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "IZ5cS1EUXpPOEEPu",
          "name": "Gmail Pessoal"
        }
      }
    },
    {
      "parameters": {},
      "id": "137b45b5-0129-4bcc-a89b-8a1540ede353",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://toolbox.apps.svc.cluster.local:8000/api/v1/convert-all",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment_0"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "e2fb1e6f-5e65-4287-98aa-33db45f179a3",
      "name": "PDF to Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "pages",
        "options": {}
      },
      "id": "0b79fd69-aacd-46e1-a2d3-7e7a52ce4a1d",
      "name": "Split Pages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        224
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"imageUrl\": \"data:image/png;base64,\" + $json.image.data } }}",
        "options": {}
      },
      "id": "5bc86dbb-2041-490e-87e4-fee757407808",
      "name": "Set Image URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm.olympus.svc.cluster.local:4000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"openai/glm-4.6v\", \"messages\": [{ \"role\": \"user\", \"content\": [{ \"type\": \"text\", \"text\": \"Extract the Multibanco payment reference from this invoice. Return ONLY a valid JSON object with: entidade (string), referencia (string), montante (string with currency). No markdown, no code block.\" }, { \"type\": \"image_url\", \"image_url\": { \"url\": $json.imageUrl } }] }] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "5bb23de9-1f6a-4d1f-a82d-f6d76a2a5e44",
      "name": "Analyze image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "wXO4qmCuKINk321e",
          "name": "LiteLLM KEY"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"invoice\": JSON.parse($json.choices[0].message.content) } }}",
        "options": {}
      },
      "id": "dae6be75-ea39-44b2-849e-c6afcab9296f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        224
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"message\": \"Workflow concluído! Entidade: \" + ($json.invoice.entidade || \"?\") + \" | Referência: \" + ($json.invoice.referencia || \"?\") + \" | Montante: \" + ($json.invoice.montante || \"?\") } }}",
        "options": {}
      },
      "id": "8c3c2b17-b0ea-4a16-bbab-1fc114e3cbb0",
      "name": "Build Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "D1X5OyGlkuo7UwdR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "231aa539-7de0-4a18-8447-5d6826ab9271",
      "name": "Notify Hermes",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        224
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-03-28T19:12:04.411Z",
      "createdAt": "2026-03-28T19:12:04.411Z",
      "role": "workflow:owner",
      "workflowId": "QtzPayM6X6meC6r1",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-11T14:06:23.411Z",
  "versionId": "6360bf9b-bad0-44a6-bf62-b750cf723ea6"
}