workflows/Flow Facturas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-25T16:40:11.676Z",
  "id": "F7PXuPaJuDaBizk7",
  "isArchived": false,
  "meta": null,
  "name": "Flow Facturas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7a1bfae9-62dc-4eb6-bb2a-bd885881ce05",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        144
      ],
      "id": "044a66cc-a533-4f03-91d0-32edd8bbdf07",
      "name": "Webhook",
      "webhookId": "7a1bfae9-62dc-4eb6-bb2a-bd885881ce05"
    },
    {
      "parameters": {
        "url": "=https://restcountries.com/v3.1/alpha?codes={{ $json.body.client.country_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "ef628d7d-7548-4aff-99b1-d0f414cb0d95",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        128
      ],
      "id": "8e71e7e2-357f-4d47-80cd-638df828d9d1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst country = items?.[0]?.json;\nconst payload = items?.[1]?.json;\n\n// --- Country name (REST Countries format) ---\nconst countryName =\n  country?.name?.common ??\n  country?.name ??\n  country?.translations?.eng?.common ??\n  null;\n\n// --- Client info (Invoice Ninja webhook format) ---\nconst client = payload?.body?.client ?? {};\n\nconst customerName =\n  client?.display_name ??\n  client?.name ??\n  null;\n\nconst vat =\n  client?.vat_number ??\n  null;\n\nconst address1 = client?.address1 ?? \"\";\nconst address2 = client?.address2 ?? \"\";\nconst city = client?.city ?? \"\";\nconst state = client?.state ?? \"\";\nconst postalCode = client?.postal_code ?? \"\";\n\n// Printable address\nconst addressParts = [\n  address1,\n  address2,\n  [city, state].filter(Boolean).join(\", \"),\n  postalCode,\n  countryName,\n].filter((p) => p && String(p).trim().length > 0);\n\nconst address = addressParts.join(\"\\n\");\n\n// --- Invoice amount + optional conversion ---\nconst invoice = payload?.body?.invoices?.[0] ?? null;\n\n// Amount in invoice currency (Invoice Ninja stores amounts often as numbers already in currency units)\nconst invoiceAmount = typeof invoice?.amount === \"number\" ? invoice.amount : Number(invoice?.amount ?? NaN);\n\n// Exchange rate preference: invoice.exchange_rate first, fallback to payment.exchange_rate\nconst exchangeRateRaw =\n  invoice?.exchange_rate ??\n  payload?.body?.exchange_rate ??\n  null;\n\nconst exchangeRate = exchangeRateRaw === null ? null : Number(exchangeRateRaw);\n\n// Convert only if we have a valid rate\nlet convertedAmount = null;\nif (Number.isFinite(invoiceAmount) && Number.isFinite(exchangeRate) && exchangeRate > 0) {\n  // Interpretation: convertedAmount = invoiceAmount * exchangeRate\n  // (If you find the direction is inverted in your setup, switch to invoiceAmount / exchangeRate)\n  convertedAmount = invoiceAmount * exchangeRate;\n}\n\n// Optional: round to 2 decimals for display\nconst round2 = (n) => Math.round((n + Number.EPSILON) * 100) / 100;\n\nreturn [\n  {\n    json: {\n      countryName,\n      customerName,\n      vat,\n      address,\n\n      // structured address fields\n      address1,\n      address2,\n      city,\n      state,\n      postalCode,\n      countryId: client?.country_id ?? null,\n      countryNumericCode: country?.ccn3 ?? null,\n      countryAlpha2: country?.cca2 ?? null,\n\n      // invoice + conversion fields\n      invoiceId: invoice?.id ?? null,\n      invoiceNumber: invoice?.number ?? null,\n      invoiceAmount: Number.isFinite(invoiceAmount) ? invoiceAmount : null,\n      invoiceCurrencyId: invoice?.currency_id ?? null,\n      exchangeRate: Number.isFinite(exchangeRate) ? exchangeRate : null,\n      convertedAmount: convertedAmount !== null ? round2(convertedAmount) : null,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        128
      ],
      "id": "838d3ca1-5a3c-4a54-adc5-ddc12240e059",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "=ricardo.caldas@accoprime.com",
        "subject": "Geração de Factura",
        "message": "=Prezado(a), \nSolicito a gentileza de emitir uma fatura no valor de:\n{{ $json.convertedAmount }} €  \nPara a empresa: {{ $json.customerName }} \nNIF/VAT:{{ $json.vat }}  \n{{ $json.address }} \nDescrição do serviço:  \n\"Serviços de consultoria informática\"  \n\nAgradeço desde já pela atenção e colaboração.",
        "options": {
          "appendAttribution": false,
          "ccList": "carla.marques@accoprime.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        128
      ],
      "id": "f8854b33-bfa0-4553-9055-a3e13439698a",
      "name": "Send a message",
      "webhookId": "9ff8dec5-3f5b-49d7-a26f-91e02ce94154"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-25T16:40:11.678Z",
      "createdAt": "2026-02-25T16:40:11.678Z",
      "role": "workflow:owner",
      "workflowId": "F7PXuPaJuDaBizk7",
      "projectId": "goe6nejb5G8RJyVd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-25T16:40:11.676Z",
  "versionId": "1d333647-db9b-473e-a3c9-1e1957c4c2d0"
}