workflows/Get multiple attachments from Gmail and upload them to GDrive.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-23T14:53:09.603Z",
    "createdAt": "2026-03-23T14:53:05.970Z",
    "versionId": "46305f02-526e-44d6-a5ac-76b9ea671f76",
    "workflowId": "u1616pQTGBlFZkq9",
    "nodes": [
      {
        "parameters": {
          "name": "={{ $json.fileName }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folderId }}",
            "mode": "id"
          },
          "options": {}
        },
        "id": "54307e03-8196-430c-a710-6d23277daad2",
        "name": "upload files to google drive",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          784,
          224
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vvmiY9U9TBrlwUCt",
            "name": "Google Drive Empresa"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "simple": false,
          "filters": {
            "q": "=has:attachment filename:pdf newer_than:30d (\n  label:to-process/invoice\n  OR from:noreply@grupoyour.com\n  OR from:noreply@weoinvoice.com\n  OR from:noreply@factura.grenke.pt\n  OR from:payments-noreply@google.com\n  OR from:noreply@documentos.meoempresas.pt\n  OR from:geral@alcocheteup.pt\n  OR from:no_reply@mun-montijo.pt\n  OR from:extractoelectronico@extracto.viaverde.pt OR from:apoiocliente@prio.pt\nOR from:no-reply@bbvacf.pt\n)"
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -288,
          464
        ],
        "id": "0e369bd0-c269-4de2-bc29-1233d98176cb",
        "name": "Get many messages",
        "webhookId": "c886792f-129b-4d66-9aad-34902805d9c0",
        "credentials": {
          "gmailOAuth2": {
            "id": "LLEsxPgdZEQU8Y68",
            "name": "Gmail Empresa"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "let items = $input.all();\n\nlet results = [];\n\n// ---- Config ----\nconst EXCLUDE_PREFIXES = [/^Detalhe_/i, /^News_/i];      // starts-with filters\nconst EXCLUDE_CONTAINS = []; // e.g. [/details_/i, /news_/i] if you want \"contains\" too\n\n// Optional: require invoice-ish keywords in filename (set to true to enable)\nconst REQUIRE_INVOICE_KEYWORDS = false;\nconst INVOICE_KEYWORDS = /(invoice|inv\\b|fatura|factura|recibo|nota\\s*fiscal|tax\\s*invoice|vat|iva)/i;\n\nfor (const item of items) {\n\n  // ---- 1) Resolve email date (fallback = now) ----\n  const rawDate =\n    item.json.internalDate ||\n    item.json.date ||\n    item.json.headers?.date ||\n    null;\n\n  let date;\n  if (rawDate && !isNaN(rawDate)) {\n    date = new Date(Number(rawDate));\n  } else if (rawDate) {\n    date = new Date(rawDate);\n  } else {\n    date = new Date();\n  }\n\n  if (isNaN(date.getTime())) {\n    date = new Date();\n  }\n\n  // ---- 2) Build MM-YYYY ----\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  const monthYear = `${month}-${year}`;\n\n  // ---- 3) Explode attachments ----\n  for (const key of Object.keys(item.binary ?? {})) {\n    const bin = item.binary[key];\n\n    const fileName = (bin.fileName || '').trim();\n    const fileNameLc = fileName.toLowerCase();\n\n    const isPdf =\n      (bin.mimeType && bin.mimeType.toLowerCase().includes('pdf')) ||\n      fileNameLc.endsWith('.pdf');\n\n    if (!isPdf) continue;\n\n    // ---- 4) Exclude non-invoice PDFs by filename patterns ----\n    const excludedByPrefix = EXCLUDE_PREFIXES.some((re) => re.test(fileName));\n    const excludedByContains = EXCLUDE_CONTAINS.some((re) => re.test(fileName));\n\n    if (excludedByPrefix || excludedByContains) continue;\n\n    // ---- 5) Optional: only keep files that look like invoices by name ----\n    if (REQUIRE_INVOICE_KEYWORDS && !INVOICE_KEYWORDS.test(fileName)) {\n      continue;\n    }\n\n    results.push({\n      json: {\n        monthYear,             // <-- folder name\n        fileName: bin.fileName,\n        folderId: $input.first().json.id\n      },\n      binary: {\n        data: bin              // normalize for Drive Upload\n      }\n    });\n  }\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          240
        ],
        "id": "af4a5c9d-3513-437c-9cd1-66eafea03b8a",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "={{ $json.mesAno }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30",
            "mode": "list",
            "cachedResultName": "faturas",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          48,
          32
        ],
        "id": "d4b7c1bb-c06d-44e4-b859-8a1fa1ab8bf5",
        "name": "Create folder1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "vvmiY9U9TBrlwUCt",
            "name": "Google Drive Empresa"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          80,
          288
        ],
        "id": "830e9c49-6ef2-46ba-b020-f0c26a40d354",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "// Tenta pegar a data do email (Gmail costuma enviar em ms ou string)\nconst rawDate =\n  $json.internalDate ||\n  $json.date ||\n  $json.headers?.date ||\n  null;\n\nlet date;\n\n// Se vier timestamp (ms)\nif (rawDate && !isNaN(rawDate)) {\n  date = new Date(Number(rawDate));\n} \n// Se vier string de data\nelse if (rawDate) {\n  date = new Date(rawDate);\n} \n// Fallback: agora\nelse {\n  date = new Date();\n}\n\n// Garante validade\nif (isNaN(date.getTime())) {\n  date = new Date();\n}\n\n// Cria MM-YYYY\nconst mes = String(date.getMonth() + 1).padStart(2, '0');\nconst ano = date.getFullYear();\nconst mesAno = `${mes}-${ano}`;\n\n// Injeta no JSON\nreturn [\n  {\n    json: {\n      ...$json,\n      mesAno,\n    },\n    binary: $binary,\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          128
        ],
        "id": "35f3dc32-74d9-41ff-b2eb-2864ebb3b862",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "triggerAtDayOfMonth": 10,
                "triggerAtHour": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -608,
          48
        ],
        "id": "04e872e5-d5a2-4ef3-9aa6-60d51c32b112",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "getAll",
          "simple": false,
          "filters": {
            "q": "has:attachment filename:pdf newer_than:30d (|  label:to-process/invoice|  OR from:loja@egitana.pt|  OR from:alertas.empresas@millenniumbcp.pt| )"
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -256,
          288
        ],
        "id": "dee66a56-17ab-496c-acde-3465d8e30242",
        "name": "Get many messages1",
        "webhookId": "0308a1ac-cfc5-4348-9054-ff68a1ad63c9",
        "credentials": {
          "gmailOAuth2": {
            "id": "4LMBDvjXf4blrkme",
            "name": "Gmail Pessoal"
          }
        }
      }
    ],
    "connections": {
      "Get many messages": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Create folder1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "upload files to google drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create folder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get many messages1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many messages1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      }
    },
    "authors": "Ramon ramon@pereirariosoftware.com",
    "name": "Version 46305f02",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "46305f02-526e-44d6-a5ac-76b9ea671f76",
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "upload files to google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-22T21:46:34.299Z",
  "id": "u1616pQTGBlFZkq9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Get multiple attachments from Gmail and upload them to GDrive",
  "nodes": [
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "54307e03-8196-430c-a710-6d23277daad2",
      "name": "upload files to google drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        784,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vvmiY9U9TBrlwUCt",
          "name": "Google Drive Empresa"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "=has:attachment filename:pdf newer_than:30d (\n  label:to-process/invoice\n  OR from:noreply@grupoyour.com\n  OR from:noreply@weoinvoice.com\n  OR from:noreply@factura.grenke.pt\n  OR from:payments-noreply@google.com\n  OR from:noreply@documentos.meoempresas.pt\n  OR from:geral@alcocheteup.pt\n  OR from:no_reply@mun-montijo.pt\n  OR from:extractoelectronico@extracto.viaverde.pt OR from:apoiocliente@prio.pt\nOR from:no-reply@bbvacf.pt\n)"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -288,
        464
      ],
      "id": "0e369bd0-c269-4de2-bc29-1233d98176cb",
      "name": "Get many messages",
      "webhookId": "c886792f-129b-4d66-9aad-34902805d9c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "LLEsxPgdZEQU8Y68",
          "name": "Gmail Empresa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\n\nlet results = [];\n\n// ---- Config ----\nconst EXCLUDE_PREFIXES = [/^Detalhe_/i, /^News_/i];      // starts-with filters\nconst EXCLUDE_CONTAINS = []; // e.g. [/details_/i, /news_/i] if you want \"contains\" too\n\n// Optional: require invoice-ish keywords in filename (set to true to enable)\nconst REQUIRE_INVOICE_KEYWORDS = false;\nconst INVOICE_KEYWORDS = /(invoice|inv\\b|fatura|factura|recibo|nota\\s*fiscal|tax\\s*invoice|vat|iva)/i;\n\nfor (const item of items) {\n\n  // ---- 1) Resolve email date (fallback = now) ----\n  const rawDate =\n    item.json.internalDate ||\n    item.json.date ||\n    item.json.headers?.date ||\n    null;\n\n  let date;\n  if (rawDate && !isNaN(rawDate)) {\n    date = new Date(Number(rawDate));\n  } else if (rawDate) {\n    date = new Date(rawDate);\n  } else {\n    date = new Date();\n  }\n\n  if (isNaN(date.getTime())) {\n    date = new Date();\n  }\n\n  // ---- 2) Build MM-YYYY ----\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  const monthYear = `${month}-${year}`;\n\n  // ---- 3) Explode attachments ----\n  for (const key of Object.keys(item.binary ?? {})) {\n    const bin = item.binary[key];\n\n    const fileName = (bin.fileName || '').trim();\n    const fileNameLc = fileName.toLowerCase();\n\n    const isPdf =\n      (bin.mimeType && bin.mimeType.toLowerCase().includes('pdf')) ||\n      fileNameLc.endsWith('.pdf');\n\n    if (!isPdf) continue;\n\n    // ---- 4) Exclude non-invoice PDFs by filename patterns ----\n    const excludedByPrefix = EXCLUDE_PREFIXES.some((re) => re.test(fileName));\n    const excludedByContains = EXCLUDE_CONTAINS.some((re) => re.test(fileName));\n\n    if (excludedByPrefix || excludedByContains) continue;\n\n    // ---- 5) Optional: only keep files that look like invoices by name ----\n    if (REQUIRE_INVOICE_KEYWORDS && !INVOICE_KEYWORDS.test(fileName)) {\n      continue;\n    }\n\n    results.push({\n      json: {\n        monthYear,             // <-- folder name\n        fileName: bin.fileName,\n        folderId: $input.first().json.id\n      },\n      binary: {\n        data: bin              // normalize for Drive Upload\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        240
      ],
      "id": "af4a5c9d-3513-437c-9cd1-66eafea03b8a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.mesAno }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30",
          "mode": "list",
          "cachedResultName": "faturas",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        32
      ],
      "id": "d4b7c1bb-c06d-44e4-b859-8a1fa1ab8bf5",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vvmiY9U9TBrlwUCt",
          "name": "Google Drive Empresa"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        288
      ],
      "id": "830e9c49-6ef2-46ba-b020-f0c26a40d354",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Tenta pegar a data do email (Gmail costuma enviar em ms ou string)\nconst rawDate =\n  $json.internalDate ||\n  $json.date ||\n  $json.headers?.date ||\n  null;\n\nlet date;\n\n// Se vier timestamp (ms)\nif (rawDate && !isNaN(rawDate)) {\n  date = new Date(Number(rawDate));\n} \n// Se vier string de data\nelse if (rawDate) {\n  date = new Date(rawDate);\n} \n// Fallback: agora\nelse {\n  date = new Date();\n}\n\n// Garante validade\nif (isNaN(date.getTime())) {\n  date = new Date();\n}\n\n// Cria MM-YYYY\nconst mes = String(date.getMonth() + 1).padStart(2, '0');\nconst ano = date.getFullYear();\nconst mesAno = `${mes}-${ano}`;\n\n// Injeta no JSON\nreturn [\n  {\n    json: {\n      ...$json,\n      mesAno,\n    },\n    binary: $binary,\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        128
      ],
      "id": "35f3dc32-74d9-41ff-b2eb-2864ebb3b862",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 10,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        48
      ],
      "id": "04e872e5-d5a2-4ef3-9aa6-60d51c32b112",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d (|  label:to-process/invoice|  OR from:loja@egitana.pt|  OR from:alertas.empresas@millenniumbcp.pt| )"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        288
      ],
      "id": "dee66a56-17ab-496c-acde-3465d8e30242",
      "name": "Get many messages1",
      "webhookId": "0308a1ac-cfc5-4348-9054-ff68a1ad63c9",
      "credentials": {
        "gmailOAuth2": {
          "id": "4LMBDvjXf4blrkme",
          "name": "Gmail Pessoal"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-22T21:46:34.299Z",
      "createdAt": "2026-03-22T21:46:34.299Z",
      "role": "workflow:owner",
      "workflowId": "u1616pQTGBlFZkq9",
      "projectId": "1AjsEedso5AIlN6L"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-23T14:53:05.971Z",
  "versionId": "46305f02-526e-44d6-a5ac-76b9ea671f76"
}