workflows/Monthly Invoice extracts.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter and Check Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract MonthYears",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Check Duplicates": {
      "main": [
        [
          {
            "node": "Upload files to google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload files to google drive": {
      "main": [
        [
          {
            "node": "Upload to Octa Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Octa Manager": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Notify Hermes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract MonthYears": {
      "main": [
        [
          {
            "node": "Create Month Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Month Folder": {
      "main": [
        [
          {
            "node": "Filter and Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T21:44:31.495Z",
  "id": "GNKbBMBMcxXS5aH0",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Monthly Invoice extracts",
  "nodes": [
    {
      "id": "3203ecc2-3df4-4c72-9c0c-2cc10558af0a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        208
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 10,
              "triggerAtHour": 10
            }
          ]
        }
      }
    },
    {
      "id": "5910c064-d2e4-4a78-8eac-e14c4da2264d",
      "name": "Get many messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        512
      ],
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d (label:to-process/invoice OR from:noreply@grupoyour.com OR from:noreply@weoinvoice.com OR from:noreply@factura.grenke.pt OR from:payments-noreply@google.com OR from:noreply@documentos.meoempresas.pt OR from:geral@alcocheteup.pt OR from:no_reply@mun-montijo.pt OR from:extractoelectronico@extracto.viaverde.pt OR from:apoiocliente@prio.pt OR from:no-reply@bbvacf.pt)"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "webhookId": "dc34232e-d19b-4014-bcb1-3be3688afbd6",
      "credentials": {
        "gmailOAuth2": {
          "id": "c1WKHJm3FAubKV8P",
          "name": "Gmail Empresas"
        }
      }
    },
    {
      "id": "8f9e326b-b320-49b6-be16-75013dab8a30",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        400
      ],
      "parameters": {
        "numberInputs": 3
      }
    },
    {
      "id": "0e8606ef-0aef-40f9-b8fc-ba93b49138ee",
      "name": "Filter and Check Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        300
      ],
      "parameters": {
        "jsCode": "let items = $input.all(); let results = []; const EXCLUDE_PREFIXES = [/^Detalhe_/i, /^News_/i]; const seenMessages = new Set(); const BASE_FOLDER_ID = '1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30'; const folderIds = {}; const emailItems = []; for (const item of items) { if (item.json.monthYear && item.json.id && !item.json.internalDate) { folderIds[item.json.monthYear] = item.json.id; } else if (item.json.internalDate || item.json.id) { emailItems.push(item); } } seenMessages.clear(); for (const item of emailItems) { const rawDate = item.json.internalDate || item.json.date || item.json.headers?.date || null; if (!rawDate && !item.json.id) continue; let date; if (rawDate && !isNaN(rawDate)) date = new Date(Number(rawDate)); else if (rawDate) date = new Date(rawDate); else date = new Date(); if (isNaN(date.getTime())) date = new Date(); const month = String(date.getMonth() + 1).padStart(2, '0'); const year = date.getFullYear(); const monthYear = month + '-' + year; const msgId = item.json.id || item.json.messageId || JSON.stringify(item.json); if (seenMessages.has(msgId)) continue; seenMessages.add(msgId); if (item.binary) { for (const key of Object.keys(item.binary)) { const bin = item.binary[key]; const fileName = (bin.fileName || '').trim(); const isPdf = (bin.mimeType && bin.mimeType.toLowerCase().includes('pdf')) || fileNameLc.endsWith('.pdf'); if (!isPdf) continue; if (EXCLUDE_PREFIXES.some((re) => re.test(fileName))) continue; const folderId = folderIds[monthYear] || BASE_FOLDER_ID; results.push({ json: { monthYear, fileName, folderId }, binary: { data: bin } }); } } } return results;"
      }
    },
    {
      "id": "e6f0a8c9-520d-46e2-98c8-c12e1076f299",
      "name": "Upload files to google drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.folderId }}"
        },
        "name": "={{ $json.fileName }}",
        "operation": "upload",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lOUQgEfyXT0EShei",
          "name": "Google Drive Empresa"
        }
      }
    },
    {
      "id": "37e5afbe-004f-41e3-bf0c-b9775bfdc46a",
      "name": "Upload to Octa Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "jsCode": "const API_BASE = 'https://api.octacode.pt';\nconst COMPANY = 'RAMONCARLOS';\nconst DOC_TYPE = 'geraldocs';\nconst CLIENT_ID = '336';\nconst EMAIL = 'ramonp.rios@gmail.com';\nconst PASSWORD = 'CHANGE_ME_IN_N8N';\n\nconst items = $input.all();\nconst results = [];\nlet accessToken = '';\n\ntry {\n  const loginResp = await fetch(API_BASE + '/login', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },\n    body: JSON.stringify({ identifier: EMAIL, password: PASSWORD })\n  });\n  const loginData = await loginResp.json();\n  accessToken = loginData.access_token || '';\n  if (!accessToken) throw new Error('No access_token in login response');\n} catch (err) {\n  return items.map(i => ({ json: { fileName: i.json.fileName || '', folderId: i.json.folderId || '', octaStatus: 'auth_failed', octaError: err.message } }));\n}\n\nfor (const item of items) {\n  const fileName = item.json.fileName || 'unknown.pdf';\n  const folderId = item.json.folderId || '';\n  const binaryData = item.binary?.data;\n\n  if (!binaryData) {\n    results.push({ json: { fileName, folderId, octaStatus: 'skipped', octaError: 'no binary data' } });\n    continue;\n  }\n\n  try {\n    const params = new URLSearchParams({ client_id: CLIENT_ID, license_code: '', company_name: COMPANY, document_type: DOC_TYPE, document_name: fileName });\n    const presignResp = await fetch(API_BASE + '/documentstorage/upload?' + params, { headers: { 'Authorization': 'Bearer ' + accessToken, 'Accept': 'application/json' } });\n    const presignData = await presignResp.json();\n    const presignedUrl = presignData.attributes;\n    if (!presignedUrl) throw new Error('No presigned URL returned');\n    const pdfBuffer = Buffer.from(binaryData.data, binaryData.encoding || 'base64');\n    const blob = new Blob([pdfBuffer], { type: 'application/pdf' });\n    const uploadResp = await fetch(presignedUrl, { method: 'PUT', body: blob, headers: { 'Content-Type': 'application/pdf' } });\n    results.push({ json: { fileName, folderId, octaStatus: uploadResp.ok ? 'uploaded' : 'failed', octaCode: uploadResp.status } });\n  } catch (err) {\n    results.push({ json: { fileName, folderId, octaStatus: 'error', octaError: err.message } });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "c5cd6c6d-399f-409b-add1-cfbe037c7f82",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all(); const folderCounts = {}; let totalFiles = 0; const octaCounts = { uploaded: 0, failed: 0, error: 0, skipped: 0 }; for (const item of items) { const folder = item.json.folderId || \"unknown\"; if (!folderCounts[folder]) folderCounts[folder] = 0; folderCounts[folder]++; totalFiles++; const s = item.json.octaStatus || \"unknown\"; if (octaCounts[s] !== undefined) octaCounts[s]++; } const msg = \"Monthly Invoice extracts completed. Total: \" + totalFiles + \" files. Google Drive: \" + Object.keys(folderCounts).join(\", \") + \". Octa Manager: \" + octaCounts.uploaded + \" uploaded, \" + octaCounts.failed + \" failed.\"; return [{ json: { message: msg, totalFiles, octaUploaded: octaCounts.uploaded, webhook_secret: \"n8n-webhook-secret-2024\", webhook_url: \"http://192.168.50.11:8644/webhooks/n8n-complete\" } }];"
      }
    },
    {
      "id": "a17f5221-9b85-45ff-aafa-75c4bc792b13",
      "name": "Notify Hermes",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        750,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "D1X5OyGlkuo7UwdR"
        },
        "workflowInputs": "={{ JSON.stringify({ message: \"Notificar o chefe que as faturas mensais foram processadas com sucesso.\", webhook_secret: \"n8n-webhook-secret-2024\", webhook_url: \"http://192.168.50.11:8644/webhooks/n8n-complete\" }) }}",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "9d690b25-85d3-4c98-942a-71393aac6383",
      "name": "Extract MonthYears",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        100
      ],
      "parameters": {
        "jsCode": "const emails = $input.all(); const monthYears = new Set(); for (const email of emails) { const rawDate = email.json.internalDate || email.json.date || email.json.headers?.date || null; let date; if (rawDate && !isNaN(rawDate)) date = new Date(Number(rawDate)); else if (rawDate) date = new Date(rawDate); else date = new Date(); if (isNaN(date.getTime())) date = new Date(); const month = String(date.getMonth() + 1).padStart(2, '0'); const year = date.getFullYear(); monthYears.add(month + '-' + year); } return Array.from(monthYears).map(my => ({ json: { monthYear: my } }));"
      }
    },
    {
      "id": "547017e0-312e-407b-8272-2dacd37b56ec",
      "name": "Create Month Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        100
      ],
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1e6LXLUDgJHVplJlh9MTSYs-GL62Ahv30"
        },
        "name": "={{ $json.monthYear }}",
        "resource": "folder",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lOUQgEfyXT0EShei",
          "name": "Google Drive Empresa"
        }
      }
    },
    {
      "id": "55167f4e-0e7e-44af-a9c3-e30701765f04",
      "name": "Get many messages1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        704
      ],
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf newer_than:30d (label:to-process/invoice OR from:loja@egitana.pt OR from:alertas.empresas@millenniumbcp.pt)"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "webhookId": "3339b7f3-fd9a-496d-aea2-397c8df762ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "c1WKHJm3FAubKV8P",
          "name": "Gmail Empresas"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T21:44:31.495Z",
      "createdAt": "2026-06-04T21:44:31.495Z",
      "role": "workflow:owner",
      "workflowId": "GNKbBMBMcxXS5aH0",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-04T21:53:24.704Z",
  "versionId": "f0934b5b-2350-4c0c-b645-d7406640a352"
}