workflows/My workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-03-27T14:15:25.062Z",
  "id": "Pp76aRgcPfGctdoV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "fatura@xpi.com.br"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -176
      ],
      "id": "2e366f5f-6890-4abd-bad4-c35da32469e9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "IZ5cS1EUXpPOEEPu",
          "name": "Gmail Pessoal"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/to-images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment_0"
            },
            {
              "name": "password",
              "value": "07120"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -176
      ],
      "id": "5e932d90-6d59-431c-9137-fd109fec1167",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ollama.olympus.svc.cluster.local:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3-vl:8b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Tell me the total amount of the invoice.\",\n      \"images\": [{{ JSON.stringify($json.base64Images.first()) }}]\n    }\n  ],\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -176
      ],
      "id": "ff06ce65-afbb-46d2-98a4-fb1513dce08b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const base64Images = [];\n\nfor (const item of $input.all()) {\n  // Add the new field as in original\n  item.json.myNewField = 1;\n\n  // Extract base64 images recursively\n  function extractBase64(obj) {\n    const images = [];\n    if (typeof obj === 'string') {\n      // Match base64 images (common formats: png, jpeg, gif, webp)\n      const base64Regex = /image\\/(png|jpeg|jpg|gif|webp);base64,([A-Za-z0-9+/=]+)/g;\n      let match;\n      while ((match = base64Regex.exec(obj)) !== null) {\n        images.push(match[2]); // Capture just the base64 data\n      }\n      // Also catch raw base64 without data URL (as in your file)\n      if (/^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$/.test(obj) && obj.startsWith('iVBORw0KGgo')) {\n        images.push(obj);\n      }\n    } else if (obj && typeof obj === 'object') {\n      for (const key in obj) {\n        images.push(...extractBase64(obj[key]));\n      }\n    }\n    return images;\n  }\n\n  const images = extractBase64(item.json);\n  base64Images.push(...images);\n}\n\nreturn [{ json: { base64Images: [...new Set(base64Images)] } }]; // Dedupe and return\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -176
      ],
      "id": "dbc2217f-3236-4640-81e6-1534fe59e920",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-27T14:15:25.062Z",
      "createdAt": "2026-03-27T14:15:25.062Z",
      "role": "workflow:owner",
      "workflowId": "Pp76aRgcPfGctdoV",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-31T11:19:29.571Z",
  "versionId": "52d49c43-f18c-4d60-af9e-0f3ff0df0032"
}