workflows/n8n-backup.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-25T16:51:45.196Z",
    "createdAt": "2026-03-25T16:50:26.664Z",
    "versionId": "e61466ba-734d-43ef-9207-9509115d271b",
    "workflowId": "VW69pq5KTET5KQv6",
    "nodes": [
      {
        "parameters": {},
        "id": "5c92ac41-d635-418c-a25d-b4e8fb25d05d",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "ef081990-9d1f-4cea-95e7-fe2d9eaff679",
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1856,
          32
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "31ce4ea2-5d3c-4678-aa51-1900d74ac511",
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1856,
          272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "2b57ae50-61bb-440d-83d1-051b9f05d2e1",
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          1856,
          464
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "ramoneees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backups",
            "mode": "list",
            "cachedResultName": "n8n-backups",
            "cachedResultUrl": "https://github.com/anilrajrimal1/n8n-backups"
          },
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=update: n8n backup {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "adf0560c-17fa-41e4-93c9-9fd1924a84ae",
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          2048,
          272
        ],
        "typeVersion": 1,
        "webhookId": "402604a1-656c-4680-bf09-81b22072dec9",
        "credentials": {
          "githubOAuth2Api": {
            "id": "OYaGhorwrN26dOaw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "ramoneees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backups",
            "mode": "list",
            "cachedResultName": "n8n-backups",
            "cachedResultUrl": "https://github.com/anilrajrimal1/n8n-backups"
          },
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=Add: n8n backup file named {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "5b3e874d-eccb-4e5c-aa4d-974a6edae921",
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          2048,
          464
        ],
        "typeVersion": 1,
        "webhookId": "2fbeadc6-ae0c-4a84-b323-5034728cc304",
        "credentials": {
          "githubOAuth2Api": {
            "id": "OYaGhorwrN26dOaw",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "id": "3d53a742-6442-4443-ba0d-04c1f8051f13",
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          816,
          288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "n8n-io"
              },
              {
                "name": "repo.name",
                "value": "n8n-backups"
              },
              {
                "name": "repo.path",
                "value": "workflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "4f37e7f5-f593-4330-a4ef-3a87b4d86d42",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          240,
          192
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
        },
        "id": "8137d16e-d191-4ecb-90e3-4f6dd99d6cd8",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          1376,
          272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "5d80f98d-d610-4c9e-9716-f51b047d99c5",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          1200,
          272
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "d25e6faf-b5b9-4710-9236-d0b764ffdb73",
        "name": "check_github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          1616,
          272
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "=http://n8n.olympus.svc.cluster.local:5678/api/v1/workflows",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ODc5OTVjMS00ZWQ1LTQ2M2ItYjFmYy00YzQ5ZmJlYWY3NGIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMDNiZDJiZGItNmZiNS00OTQyLThlM2QtODk3M2MxNWQ0ZjIyIiwiaWF0IjoxNzc0NDU3MzEyfQ.wSrjFJuDiMtBWWw2P6WFgxY_kZ7mGuiWDc6AE0cbaPc"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          432,
          112
        ],
        "id": "c3b86409-efce-4514-9fef-9fc4396f414a",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          384,
          384
        ],
        "id": "378d4e7a-8ee1-40b5-b5d5-6207566ba07d",
        "name": "Split Out"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "ramoneees",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backups",
            "mode": "list",
            "cachedResultName": "n8n-backups",
            "cachedResultUrl": "https://github.com/ramoneees/n8n-backups"
          },
          "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "dd0d6cf9-4e3b-4427-bf0e-400ff4b2407f",
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          976,
          80
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "f551c55c-460e-4bb6-9a1f-b8cef4e26e26",
        "credentials": {
          "githubOAuth2Api": {
            "id": "OYaGhorwrN26dOaw",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyWeek",
                "hour": 3,
                "weekday": "6"
              }
            ]
          }
        },
        "id": "b9231121-f401-4b42-be4a-f6dd5a294b62",
        "name": "backup every week",
        "type": "n8n-nodes-base.cron",
        "position": [
          -48,
          304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1ef0cd1e-ee4a-499c-9583-86976227f31f",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          592,
          384
        ],
        "id": "354fd4d2-f219-4c6f-9024-270c4ea7cb08",
        "name": "Filter"
      }
    ],
    "connections": {
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "check_github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "check_github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "backup every week": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ramon ramon@pereirariosoftware.com",
    "name": "Version e61466ba",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "e61466ba-734d-43ef-9207-9509115d271b",
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "check_github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backup every week": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-25T16:32:38.278Z",
  "id": "VW69pq5KTET5KQv6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "n8n-backup",
  "nodes": [
    {
      "parameters": {},
      "id": "5c92ac41-d635-418c-a25d-b4e8fb25d05d",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ef081990-9d1f-4cea-95e7-fe2d9eaff679",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1856,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "31ce4ea2-5d3c-4678-aa51-1900d74ac511",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1856,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2b57ae50-61bb-440d-83d1-051b9f05d2e1",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1856,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "ramoneees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/anilrajrimal1/n8n-backups"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=update: n8n backup {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "adf0560c-17fa-41e4-93c9-9fd1924a84ae",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        2048,
        272
      ],
      "typeVersion": 1,
      "webhookId": "402604a1-656c-4680-bf09-81b22072dec9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "OYaGhorwrN26dOaw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ramoneees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/anilrajrimal1/n8n-backups"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=Add: n8n backup file named {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "5b3e874d-eccb-4e5c-aa4d-974a6edae921",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        2048,
        464
      ],
      "typeVersion": 1,
      "webhookId": "2fbeadc6-ae0c-4a84-b323-5034728cc304",
      "credentials": {
        "githubOAuth2Api": {
          "id": "OYaGhorwrN26dOaw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3d53a742-6442-4443-ba0d-04c1f8051f13",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        816,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "n8n-io"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "4f37e7f5-f593-4330-a4ef-3a87b4d86d42",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        240,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "8137d16e-d191-4ecb-90e3-4f6dd99d6cd8",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1376,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5d80f98d-d610-4c9e-9716-f51b047d99c5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1200,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "d25e6faf-b5b9-4710-9236-d0b764ffdb73",
      "name": "check_github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1616,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://n8n.olympus.svc.cluster.local:5678/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1ODc5OTVjMS00ZWQ1LTQ2M2ItYjFmYy00YzQ5ZmJlYWY3NGIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMDNiZDJiZGItNmZiNS00OTQyLThlM2QtODk3M2MxNWQ0ZjIyIiwiaWF0IjoxNzc0NDU3MzEyfQ.wSrjFJuDiMtBWWw2P6WFgxY_kZ7mGuiWDc6AE0cbaPc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        112
      ],
      "id": "c3b86409-efce-4514-9fef-9fc4396f414a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        384
      ],
      "id": "378d4e7a-8ee1-40b5-b5d5-6207566ba07d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ramoneees",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backups",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://github.com/ramoneees/n8n-backups"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "dd0d6cf9-4e3b-4427-bf0e-400ff4b2407f",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        976,
        80
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "f551c55c-460e-4bb6-9a1f-b8cef4e26e26",
      "credentials": {
        "githubOAuth2Api": {
          "id": "OYaGhorwrN26dOaw",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 3,
              "weekday": "6"
            }
          ]
        }
      },
      "id": "b9231121-f401-4b42-be4a-f6dd5a294b62",
      "name": "backup every week",
      "type": "n8n-nodes-base.cron",
      "position": [
        -48,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ef0cd1e-ee4a-499c-9583-86976227f31f",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        592,
        384
      ],
      "id": "354fd4d2-f219-4c6f-9024-270c4ea7cb08",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Lisbon",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-03-25T16:32:38.278Z",
      "createdAt": "2026-03-25T16:32:38.278Z",
      "role": "workflow:owner",
      "workflowId": "VW69pq5KTET5KQv6",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-25T16:54:02.759Z",
  "versionId": "e61466ba-734d-43ef-9207-9509115d271b"
}