workflows/Octa Manager Auth.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T21:30:55.589Z",
  "id": "cVoocnpEx3sBjYRC",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Octa Manager Auth",
  "nodes": [
    {
      "id": "989a17e9-1e98-47e3-af27-67d7e7b1a174",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "5dfdf599-2ea5-431b-9509-4fbb76c43460",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.octacode.pt/login",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "identifier",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "9dd360b6-0bb4-42a5-87ec-978e5bd73b6f",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json; const token = data.access_token || ''; const clientId = String(data.data?.id || '336'); return [{ json: { access_token: token, client_id: clientId } }];"
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T21:30:55.589Z",
      "createdAt": "2026-06-04T21:30:55.589Z",
      "role": "workflow:owner",
      "workflowId": "cVoocnpEx3sBjYRC",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-04T21:30:55.589Z",
  "versionId": "6a8bbc82-14b3-44ee-94da-ead7345c4ac7"
}