workflows/Octa Manager Auth.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-06T21:12:46.744Z",
    "createdAt": "2026-06-06T21:11:26.120Z",
    "versionId": "cb59121f-b58e-48da-ad22-4c97b49b53a2",
    "workflowId": "cVoocnpEx3sBjYRC",
    "nodes": [
      {
        "parameters": {},
        "id": "989a17e9-1e98-47e3-af27-67d7e7b1a174",
        "name": "When Called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.octacode.pt/login",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "X-Request-Client",
                "value": "octamanager"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "ramonp.rios@gmail.com"
              },
              {
                "name": "password",
                "value": "sadruk-vasriz-jUtfy4"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "5dfdf599-2ea5-431b-9509-4fbb76c43460",
        "name": "Login",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          256,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json; const token = data.access_token || ''; const clientId = String(data.data?.id || '336'); return [{ json: { access_token: token, client_id: clientId } }];"
        },
        "id": "9dd360b6-0bb4-42a5-87ec-978e5bd73b6f",
        "name": "Extract Token",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          0
        ]
      }
    ],
    "connections": {
      "When Called": {
        "main": [
          [
            {
              "node": "Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login": {
        "main": [
          [
            {
              "node": "Extract Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Ramon ramon@pereirariosoftware.com",
    "name": "Version cb59121f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "cb59121f-b58e-48da-ad22-4c97b49b53a2",
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-04T21:30:55.589Z",
  "id": "cVoocnpEx3sBjYRC",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Octa Manager Auth",
  "nodes": [
    {
      "parameters": {},
      "id": "989a17e9-1e98-47e3-af27-67d7e7b1a174",
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.octacode.pt/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Request-Client",
              "value": "octamanager"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ramonp.rios@gmail.com"
            },
            {
              "name": "password",
              "value": "sadruk-vasriz-jUtfy4"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "5dfdf599-2ea5-431b-9509-4fbb76c43460",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json; const token = data.access_token || ''; const clientId = String(data.data?.id || '336'); return [{ json: { access_token: token, client_id: clientId } }];"
      },
      "id": "9dd360b6-0bb4-42a5-87ec-978e5bd73b6f",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-04T21:30:55.589Z",
      "createdAt": "2026-06-04T21:30:55.589Z",
      "role": "workflow:owner",
      "workflowId": "cVoocnpEx3sBjYRC",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-06T21:11:26.119Z",
  "versionId": "cb59121f-b58e-48da-ad22-4c97b49b53a2"
}