workflows/Prometheus Alert Handler.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Gather K8s Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather K8s Context": {
      "main": [
        [
          {
            "node": "Call OpenClaude Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenClaude Triage": {
      "main": [
        [
          {
            "node": "Build Enriched Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enriched Message": {
      "main": [
        [
          {
            "node": "Notify Hermes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-13T19:29:36.125Z",
  "id": "IH9hlXFpXJ6WL1nO",
  "isArchived": false,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "name": "Prometheus Alert Handler",
  "nodes": [
    {
      "id": "3a6ec016-b1af-462f-9391-67be49d6c5d0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alerts",
        "authentication": "none",
        "responseMode": "onReceived"
      },
      "webhookId": "86210687-2fa7-45b8-b777-1df68fce1386"
    },
    {
      "id": "36d4b023-ffda-43ad-9510-4386b3868eb6",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "alertname",
              "name": "alertname",
              "type": "string",
              "value": "=$json.body.alerts[0].labels.alertname || 'Unknown'"
            },
            {
              "id": "severity",
              "name": "severity",
              "type": "string",
              "value": "=$json.body.alerts[0].labels.severity || 'warning'"
            },
            {
              "id": "namespace",
              "name": "namespace",
              "type": "string",
              "value": "=$json.body.alerts[0].labels.namespace || ''"
            },
            {
              "id": "pod",
              "name": "pod",
              "type": "string",
              "value": "=$json.body.alerts[0].labels.pod || $json.body.alerts[0].labels.deployment || ''"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "string",
              "value": "=$json.body.alerts[0].annotations.summary || ''"
            },
            {
              "id": "description",
              "name": "description",
              "type": "string",
              "value": "=$json.body.alerts[0].annotations.description || ''"
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "=$json.body.status || 'firing'"
            }
          ]
        }
      }
    },
    {
      "id": "5e9c0f14-5709-4b70-9c00-a0e112158444",
      "name": "Gather K8s Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst alert = $input.first().json;\nconst ns = alert.namespace || 'olympus';\nconst pod = alert.pod || '';\n\nlet token = '';\ntry {\n  token = fs.readFileSync('/var/run/secrets/kubernetes.io/serviceaccount/token', 'utf8').trim();\n} catch (e) {\n  return [{ json: { ...alert, k8s_context: 'No K8s token available: ' + e.message } }];\n}\n\nconst headers = { 'Authorization': 'Bearer ' + token };\nlet contextLines = [];\n\ntry {\n  if (pod) {\n    const logResp = await fetch(\n      'https://kubernetes.default.svc/api/v1/namespaces/' + ns + '/pods/' + pod + '/log?tailLines=50',\n      { headers }\n    );\n    const logs = await logResp.text();\n    contextLines.push('=== Pod logs: ' + pod + ' ===');\n    contextLines.push(logs.substring(0, 3000));\n  } else {\n    const podsResp = await fetch(\n      'https://kubernetes.default.svc/api/v1/namespaces/' + ns + '/pods',\n      { headers }\n    );\n    const podsData = await podsResp.json();\n    const pods = (podsData.items || []).slice(0, 3);\n    for (const p of pods) {\n      const pName = p.metadata.name;\n      const logResp = await fetch(\n        'https://kubernetes.default.svc/api/v1/namespaces/' + ns + '/pods/' + pName + '/log?tailLines=20',\n        { headers }\n      );\n      contextLines.push('=== ' + pName + ' (tail 20) ===');\n      contextLines.push((await logResp.text()).substring(0, 500));\n    }\n  }\n\n  if (ns === 'databases' || alert.alertname.toLowerCase().includes('backup')) {\n    const jobsResp = await fetch(\n      'https://kubernetes.default.svc/apis/batch/v1/namespaces/databases/jobs',\n      { headers }\n    );\n    const jobsData = await jobsResp.json();\n    const recentJobs = (jobsData.items || [])\n      .sort((a, b) => new Date(b.metadata.creationTimestamp) - new Date(a.metadata.creationTimestamp))\n      .slice(0, 3)\n      .map(j => j.metadata.name + ': ' + (j.status.succeeded ? 'succeeded' : j.status.failed ? 'failed' : 'active'));\n    contextLines.push('=== Recent backup jobs ===');\n    contextLines.push(recentJobs.join('\\n'));\n  }\n} catch (e) {\n  contextLines.push('K8s API error: ' + e.message);\n}\n\nreturn [{ json: { ...alert, k8s_context: contextLines.join('\\n') } }];"
      }
    },
    {
      "id": "f62162a8-fa0d-4c61-9668-adf1e3bc8bdb",
      "name": "Call OpenClaude Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://openclaude.olympus.svc.cluster.local:8080/review",
        "sendBody": true,
        "contentType": "json",
        "body": "=JSON.stringify({ diff: 'Alert: ' + $json.alertname + '\\nSeverity: ' + $json.severity + '\\nNamespace: ' + $json.namespace + '\\nPod: ' + $json.pod + '\\nSummary: ' + $json.summary + '\\nDescription: ' + $json.description + '\\nStatus: ' + $json.status + '\\n\\n' + ($json.k8s_context || ''), depth: 'quick', pr_number: 0, commit_sha: '', repo_url: '', branch: '', prompt_type: 'alert-triage' })",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "8a3c6b29-c1b2-49c8-b853-dfcbd0660031",
      "name": "Build Enriched Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=($('Call OpenClaude Triage').item.json.review_text ? ($('Build Alert Message').item.json.severity === 'critical' ? '🔴' : '🟡') + ' ALERT: ' + $('Build Alert Message').item.json.alertname + ' [' + $('Build Alert Message').item.json.status + ']\\n\\nSummary: ' + $('Build Alert Message').item.json.summary + '\\nNamespace: ' + $('Build Alert Message').item.json.namespace + ($('Build Alert Message').item.json.pod ? '\\nPod: ' + $('Build Alert Message').item.json.pod : '') + '\\n\\n--- AI Triage ---\\n' + $('Call OpenClaude Triage').item.json.review_text : ($('Build Alert Message').item.json.severity === 'critical' ? '🔴' : '🟡') + ' ALERT: ' + $('Build Alert Message').item.json.alertname + '\\nSummary: ' + $('Build Alert Message').item.json.summary + '\\nNamespace: ' + $('Build Alert Message').item.json.namespace)"
            }
          ]
        }
      }
    },
    {
      "id": "d951a8db-56b4-4c75-8924-02f21a4521ae",
      "name": "Notify Hermes",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "source": "database",
        "workflowId": "='D1X5OyGlkuo7UwdR'",
        "workflowInputs": "=JSON.stringify({ message: $json.message, webhook_url: 'http://192.168.50.11:8644/webhooks/k8s-alerts' })",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-05-13T19:29:36.125Z",
      "createdAt": "2026-05-13T19:29:36.125Z",
      "role": "workflow:owner",
      "workflowId": "IH9hlXFpXJ6WL1nO",
      "projectId": "NIWdtECswkBCcQBM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-18T10:49:04.450Z",
  "versionId": "695e0daa-1834-4850-a3bd-467dc91b8771"
}